<%- include('../includes/base.ejs') %>
<%- include('../includes/header.ejs') %>
<main>
    <% if (products.length > 0){ %>
            <% products.forEach(product => { %>
                <div class="card">
                    <h1><%= product.title %></h1>
                    <h3><%= product.price %></h3>
                    <div>
                        <a href="/edit-product/<%= product._id %>?edit=true">EDIT</a>
                        <form action="/admin" method="post">
                            <input type="hidden" name="prodId" value="<%= product._id %>">
                            <button type="submit">DELETE</button>
                        </form>
                    </div>
                </div>
            <% }) %>
        <% }else{ %>
            <h1>NOT FOUND PRODUCT</h1>
            <% } %>
</main>
<%- include('../includes/end.ejs') %>

    
