<div class="container">
    <header class="header">
      <nav class="navigation">
        <div class="wrapper">
          <li class="navigation__list">
            <a href="/" class="navigation__list-link <%= path==='/'? "active":"" %>">HOME</a>
          </li>
          <% if(isAuth){ %>
          <li class="navigation__list">
            <a href="/add-product" class="navigation__list-link <%= path==='/add-product'? "active":"" %>">add product</a>
          </li>
          <li class="navigation__list">
            <a href="/admin" class="navigation__list-link <%= path==='/admin'? "active":"" %>">admin</a>
          </li>
          <% } %>
        </div>
        <div class="wrapper">
          <li class="navigation__list">
            <a href="/signup" class="navigation__list-link <%= path==='/signup'? "active":"" %>">signup</a>
          </li>
          <li class="navigation__list">
            <a href="/login" class="navigation__list-link <%= path==='/login'? "active":"" %>">login</a>
          </li>
        </div>
      </nav>
    </header>